
.dark-mode .dark-mode-bg {
  background-color: #333;
  
}

.dark-mode .dark-mode-header {
  color: white;
}

.dark-mode .dark-mode-paragraph {
  color: white;
}

.dark-mode .dark-mode-span {
  color: white;
}

.dark-mode .dark-mode-div-bg {
  background-color: #333;
}

.dark-mode .dark-mode-button {
  background-color: #333;
  color: white;
}

.light-mode-icon {
  display: none; /* Start hidden */
}
